@media (max-width: 1120px) {
  .hero_area {
    height: auto;
  }

  .slider_section {
    padding: 50px 0;
  }
}

@media (max-width: 992px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .user_option {
    flex-direction: column;
  }

  .custom_nav-container .nav_search-btn {
    background-position: center;
    margin-top: 10px;
  }

  .user_option a {
    margin-bottom: 10px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 5px;
  }
  .info_subsection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 25px;
  }
  .work_section-container > div,
  .blog_work_section-container > div {
    display: flex;
    justify-content: flex;
    flex-direction: column;
    max-width: 100vw;
    align-items: center;
  }
  .work_section-content {
    padding: 5px;
  }

  .detail-box {
    text-align: left;
  }
  /* .careers__list-container{
    max-width: 800px;
  } */
}

@media (max-width: 768px) {
  *{
    max-width: 768px;
  }
  .slider_section .detail-box h2{
      font-size: 1rem;
  }
  .slider_section .detail-box h4{
    font-size: 1rem;
    white-space: wrap;
  }

  .header_section .container-fluid{
    padding-right: 25px;
  }
  .heading_container h2{
    align-self: center;
  }

  .history-section__content{
    padding: 0px;
    flex-direction: column-reverse;
    gap: 0px;
    margin-top: 0px;
    img{
      width: 100%;
    }
    }
  

  .activity-section__content{
    flex-direction: column;
    gap: 20px;


  }
  .about-section__accomp-container{
   display: none;
  }

  .about-section__accomp2{
    padding: 40px;
    display: flex;
    flex-direction: column;
    background: rgb(84,84,84);
    background: linear-gradient(326deg, rgba(84,84,84,1) 0%, rgba(84,84,84,1) 10%, rgba(94,94,94,1) 15%, rgba(111,111,111,1) 21%, rgba(210,210,210,1) 64%, rgba(231,231,231,1) 74%, rgba(210,208,208,1) 83%, rgba(149,149,149,1) 100%);
    border-radius: 20px;
    margin-bottom: 40px;
    h5{
      font-size: 1rem;
      font-weight: bolder;
      margin-bottom: 20px;
    }
    img{
      width: 70%;
    }
    p{
      text-align: justify;
      font-size: 0.9rem;
    }
    
  }


  .about-section__iran-container{
    display: flex;
    flex-direction: column;
  }
  .about-section__iran-container .about-section__iran{
    gap: 20px;
    padding: 40px;
    h5{
      font-size: 1rem;
      font-weight: bolder;
    }
    p{
      font-size: 0.9rem;
    }
  }
  .about__vision-container{
    padding: 40px;
    gap: 20px;
    flex-direction: column  ;
    .img-wrapper img{
      width: 80%;
    }
  }
  .about__history-header .value-slider-container{
    display: flex;
    flex-direction: column;
  }
  .value-slider-container .value-slider .text-wrapper{
    gap: 20px;
    h5{
      font-size: 1rem;
      font-weight: bolder;
    }
    p{
      font-size: 0.9rem;
    }
  }
  .activity-section__img-container p, .activity-section__img-container2 p{
    font-size: 1.5rem !important;
  }
  
  .heading_container{
    margin: 0;
    text-align: center;
    h2{
      font-size: 1.2rem;
      justify-self: center;
    }
    p{
      font-size: 0.8rem;
    }
  }
  .home__strategy-item{
  padding: 40px;
  align-items: center;
  justify-content: center;
  }
  .home-section__content{
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;
  img{
    width: 100% !important;
  }
  }
  .about__strategy-wrapper h6{
  text-align: right;
  }
  .home__strategy-container{
  display: flex;
  flex-direction: column;
  }

  #env-ads h2, #dig-ads h2 , #tv-ads h2, #branding h2, #content h2{
    justify-content: center;
    align-self:center;
  }
  .services__slider-container .services-slide .slide-container{
    margin-top: 40px;
    padding: 40px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  .text-wrapper{
    margin-left: 0;
    margin-top: 40px;
    }
    h5{
      font-size: 1rem;
      align-self: center;
    }
    img{
      width: 70%;
    }
    p{
      font-size: 0.8rem;
    }
  }
  
  .services__slider-container .services-slide .slide-container .text-wrapper div{
  justify-content: center; 
 }
  .services_section .services_container{
  display: none;
  }
  .services_section .heading_container{
    margin-top: 75px;
    gap: 40px;
    justify-content: center;
    h6{
      font-size: 1rem;
    }
  }
  .services_details-item{
    display: block;
    padding: 40px;
    background: rgb(84,84,84);
    background: linear-gradient(326deg, rgba(84,84,84,1) 0%, rgba(84,84,84,1) 10%, rgba(94,94,94,1) 15%, rgba(111,111,111,1) 21%, rgba(210,210,210,1) 64%, rgba(231,231,231,1) 74%, rgba(210,208,208,1) 83%, rgba(149,149,149,1) 100%);
    border-radius: 20px;
    margin-top: 40px;
    h5{
      margin-bottom: 20px;
      font-size: 1rem;
      font-weight: bolder;
    }
    p{
      font-size: 0.8rem;
      text-align: justify;
    }
  }
  .services_section .heading_container .heading_container-detail{
    gap: 40px;
    h6 b{
      font-size: 1rem;
    }
    p{
      font-size: 0.8rem;
    }
    span b{
      font-size: 0.8rem;

    }
  }
  .services_section .heading_container p{
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  .heading_container h6{
  position: relative;
  top:0;
  right: 0 !important;
  margin-bottom: 0;
  }
  .services_details-nav{
  display: none;
  }
  .services_details-items{
    padding: 0;
  }
  .services-details{
    padding: 0;
  }


  .who_section .detail-box {
    margin-left: 15px;
    margin-top: 35px;
  }

  .work_section .work_container .box.b-1,
  .work_section .work_container .box.b-2,
  .work_section .work_container .box.b-3,
  .work_section .work_container .box.b-4 {
    width: 100%;
  }

  .info_section h5{
    font-size: 1.2rem;
  }
  .info_section .col-md-6 > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 0.8rem;
  }

  .info_section .col-md-3 > div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .info_section .info_contact  > div {
    margin-bottom: 10px;
  }
  .info_section .info_contact > div p {
    margin-right: 10px;
    white-space: nowrap;
    font-size: 0.8rem;
  }
  .info_section .info_contact > div img {
    margin-right: 0px;
    width: 0.8rem;
  }

  .info_section form button {
    white-space: nowrap;
    border-radius: 30px;
    width: fit-content;
    margin-top: 0px !important;
    margin-left: 10px;
    font-weight: 700;
  }

  .info_section .info_form form input {
    border-radius: 30px;
    border: 1px solid #fff;
    background-color: #242424;
    margin-right: 7px;
  }

  ::placeholder {
    color: #fff;
    opacity: 0.7;
  }
  .info_subsection p{
    padding: 0;
    text-align: justify;
  }

  .info_section .info_form .social_box {
    justify-content: center;
    /* margin-top: 60px; */
  }

  .info_section .info_form .social_box a {
    margin: 0 10px;
  }

  .info_section {
    padding: 90px 0 15px 0;
  }

  .info_subsection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 25px;
  }
  .info_section .info_contact .img-box {
    padding: 0;
    width: 10px;
  }

  .work_section-container > div {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    justify-content: flex-start;
    align-items: center;
  }

  .work_section-container div h5 {
    text-align: right;
  }
  .work_section-content {
    padding: 5px;
  }

  /*------career section------*/

  .careers_list-section {
    width: 500px;
    gap: 50px;
  }
  .careers__list-nav-items{
    display: none;
  }

  #career-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hidden{
    display: none;
  }
  .careers__list-nav-items2{
    width: 100%;
    margin: -10px  0 0 0 ;
    display: flex;
    gap:0;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #353434;

  }
  .careers__list-nav-items2:hover{
    background-color: #ebebeb;
    color: #000;
  }

   .careers__list-nav-items2 a{
    padding: 20px;
    border: 1px solid #c9c9c9;
    width: 100%;
    border-radius: 0;
    color: #fff;
    border-left: none;
    border-right: none;
    position: relative;
   } 
   .careers__list-nav-items2 h5{
    text-align: left;
   }
   .careers__list-nav-items2 span{
    font-weight: lighter;
    text-align: left;
   }
  .careers__list-nav{
    display: none;
  }
  .careers__list-nav2{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }


  .showed {
    display: block !important;
  }
  #career-list li a {
    display: flex;
    width: 100%;
    font-size: 1.3rem;
    padding: 30px 60px;
  }

  .career_nav-jobs {
    z-index: 999;
    background-color: #f5f5f5;
    color: #353434;
    width: 250px;
    opacity: 1;
    pointer-events: none;
    transition: all 0.3s ease;
    position: relative;
  }
  .careers__list-container {
    width: 100%;
  }
  .careers__list-nav2 ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius:0px;
  
  }
  .careers__list-nav2 ul li {
    background-color: #353434;
    padding: 30px 0px ;
    width: 100%;
    /* border-bottom: 10px solid #fff; */
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .careers__list-nav2 ul li:hover {
    border-radius: 0px;
    cursor: pointer;
    background-color: #242424;
  }

  .careers__list-detail button{
    white-space: nowrap;
  }


  /*------end career section------*/

  /*------resume form section------*/

  .personal-info,.contact-info{
    display: flex;
    flex-direction: column;
  }
  .submit-button{
    width: 100%;
    align-self: center;
  }




  /*---------info section--------*/

  .info_section .info_form form {
    display: flex;
    flex-direction: row;
  }

  .career_button {
    font-size: 1.5rem;
  }

  .footer_section {
    padding: 0px 30px;
  }
  .footer_section p {
    padding: 60px;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .slider_section .detail-box h1 {
    font-size: 3.5rem;
  }

  .do_section .do_container .arrow_bg::before {
    display: none;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
  .slider_section .detail-box h2 {
    font-size: 1rem;
  }

  .slider_section .detail-box h1 {
    font-size: 2rem;
  }
}

@media (max-width: 360px) {
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
